<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <title>Sliver VS Cheeseboard</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
    </head>
    <body>
        <section>
            <header>Sliver</header>
            <div class="days">
                {% for pizza in pizzas %}
                    <div class="day-container">
                        <div class="day">{{ pizza.day }}</div>
                        <div class="pizza">{{ pizza.sliver.desc }}</div>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section>
            <header>Cheeseboard</header>
            <div class="days">
                {% for pizza in pizzas %}
                    <div class="day-container">
                        <div class="day">{{ pizza.day }}</div>
                        <div class="pizza">{{ pizza.cheeseboard.desc }}</div>
                    </div>
                {% endfor %}
            </div>
        </section>

        <div class="arrows">
            <div class="left-arrow arrow">&laquo;</div>
            <div class="right-arrow arrow">&raquo;</div>
        </div>

        

        <script src="{% static 'js/libs/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'js/home.js' %}"></script>
    </body>
</html>
