<html>
    <head>
        <title>Sliver VS Cheeseboard</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
    </head>
    <body>
        <section>
            <header>Sliver</header>
            <div class="days">
                {% for pizza in pizzas %}
                    <div class="day-container">
                        <div class="day">{{ pizza.day }}</div>
                        <div class="pizza">{{ pizza.sliver }}</div>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section>
            <header>Cheeseboard</header>
            <div class="days">
                {% for pizza in pizzas %}
                    <div class="day-container">
                        <div class="day">{{ pizza.day }}</div>
                        <div class="pizza">{{ pizza.cheeseboard }}</div>
                    </div>
                {% endfor %}
            </div>
        </section>

        <script src="{% static 'js/libs/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'js/home.js' %}"></script>
    </body>
</html>
