<html>
    <head>
        <title>Sliver VS Cheeseboard</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
    </head>
    <body>
        <div class="col">
            <h2>SILVER</h2>
            <h3>MONDAY</h3>
            {{ sliver.0 }}
            <h3>TUESDAY</h3>
            {{ sliver.1 }}
            <h3>WEDNESDAY</h3>
            {{ sliver.2 }}
            <h3>THURSDAY</h3>
            {{ sliver.3 }}
            <h3>FRIDAY</h3>
            {{ sliver.4 }}
            <h3>SATURDAY</h3>
            {{ sliver.5 }}
        </div>
        <div class="col">
            <h2>CHEESEBOARD</h2>
            <h3>MONDAY</h3>
            No Pizza Today
            <h3>TUESDAY</h3>
            {{ cheeseboard.0 }}
            <h3>WEDNESDAY</h3>
            {{ cheeseboard.1 }}
            <h3>THURSDAY</h3>
            {{ cheeseboard.2 }}
            <h3>FRIDAY</h3>
            {{ cheeseboard.3 }}
            <h3>SATURDAY</h3>
            {{ cheeseboard.4 }}
        </div>
    </body>
</html>
